<div>
  <dt><%= Meta::Model.human_attribute_name(:name) %></dt>
  <dd><%= @model.name %></dd>
</div>
<div>
  <dt><%= Meta::Model.human_attribute_name(:model_name) %></dt>
  <dd><%= @model.model_name %></dd>
</div>
<div>
  <dt><%= Meta::Model.human_attribute_name(:description) %></dt>
  <dd><%= @model.description %></dd>
</div>
