<div>
  <dt><%= Meta::Record.human_attribute_name(:name) %></dt>
  <dd><%= @record.name %></dd>
</div>
<div>
  <dt><%= Meta::Record.human_attribute_name(:record_name) %></dt>
  <dd><%= @record.record_name %></dd>
</div>
<div>
  <dt><%= Meta::Record.human_attribute_name(:description) %></dt>
  <dd><%= @record.description %></dd>
</div>
