<% if defined?(current_organ) && current_organ %>
  <%= render 'index_summary_organ' %>
<% else %>
  <%= render 'index_summary' %>
<% end %>

<div class="card as-transparent">
  <div class="card-header">
    <div>
      <span class="size-7 text-grey has-border-left-primary">常用功能</span>
    </div>
    <%= link_to({ controller: 'admin/home' }) do %>
      <%= svg_tag 'up-right-and-down-left-from-center' %>
      <span class="size-7">更多功能</span>
    <% end %>
  </div>
  <div class="card-content fixed-grid has-3-cols">
    <div class="grid">
      <%= render 'common_nav' %>
    </div>
  </div>
</div>

<div class="card as-transparent">
  <div class="card-header">
    <span class="size-7 text-grey has-border-left-primary">合伙人功能</span>
  </div>
  <div class="card-content fixed-grid has-3-cols">
    <div class="grid">
      <%= render 'index_partner' %>
    </div>
  </div>
</div>

<div class="card as-transparent">
  <div class="card-header">
    <span class="size-7 text-grey has-border-left-primary">门店管理</span>
  </div>
  <div class="card-content fixed-grid has-3-cols">
    <div class="grid">
      <%= render 'index_organ' %>
    </div>
  </div>
</div>

<%= render 'powered_by' %>
