<td>
  <p>
    <%= link_to({ controller: 'jobs', action: 'show', id: model.id }) do %>
      <%= model.id %>
    <% end %>
  </p>
  <p><span class="tag"><%= model.status %></span></p>
</td>
<td>
  <p><%= model.class_name %></p>
  <p><time data-controller="time" data-format="human"><%= model.scheduled_at.to_fs(:iso8601) %></time></p>
  <p class="text-success"><time data-controller="time" data-format="human"><%= model.finished_at.to_fs(:iso8601) %></time></p>
</td>
<td><%= simple_format model.arguments['arguments'] %></td>
