<th><%= Meta::Column.human_attribute_name(:column_name) %></th>
<th>
  <p><%= Meta::Column.human_attribute_name(:column_type) %></p>
  <p class="text-grey">
    <span><%= Meta::Column.human_attribute_name(:sql_type) %></span>
    <span>(<%= @record.record_class.connection.adapter_name %>)</span>
  </p>
</th>
<th><%= Meta::Column.human_attribute_name(:column_limit) %></th>
<th><%= Meta::Column.human_attribute_name(:defined_db) %></th>
<th><%= Meta::Column.human_attribute_name(:defined_model) %></th>
