<td><%= check_box_tag 'xx', model.id, false, id: nil %></td>
<td><%= link_to model.id, { action: 'show', id: model.id }, text: true %></td>
<td>
  <p><%= model.path %></p>
  <p class="is-wrap"><%= simple_format model.params.limit(3) %></p>
  <p class="is-wrap"><%= simple_format model.session.limit(3) %></p>
  <p class="is-wrap"><%= model.exception %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info text-info"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
    <%= button_to({ action: 'clean_other', id: model.id }, method: :delete, aria: { label: t('.clean_other.title') }, data: { turbo_confirm: t('.clean_other.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-trash-arrow-up text-danger-dark"></i>
    <% end %>
  </div>
</td>