<td><%= model.column_name %></td>
<td>
  <p><%= model.column_type %></p>
  <p class="text-grey"><%= model.sql_type %></p>
</td>
<td><%= model.column_limit %></td>
<td>
<% if model.defined_db %>
  <i class="fa-solid fa-check text-success"></i>
<% else %>
  <i class="fa-solid fa-times text-danger"></i>
<% end %>
</td>
<td>
<% if model.defined_model %>
  <i class="fa-solid fa-check text-success"></i>
<% else %>
  <i class="fa-solid fa-times text-danger"></i>
<% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'circle-info', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'sync', id: model.id }, method: :patch, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-sync text-success"></i>
      <span class="ml-1"><%= t('.sync.title') %></span>
    <% end %>
    <%= button_to({ action: 'test', id: model.id }, method: :patch, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-vial"></i>
      <span class="ml-1"><%= t('.test.title') %></span>
    <% end %>
  </div>
</td>