<div>
  <dt><%= Com::LogSql.human_attribute_name(:created_at) %></dt>
  <dd><time data-controller="time"><%= @log_sql.created_at.iso8601(6) %></time></dd>
</div>
<div>
  <dt><%= Com::LogSql.human_attribute_name(:name) %></dt>
  <dd><%= @log_sql.name %></dd>
</div>
<div>
  <dt><%= Com::LogSql.human_attribute_name(:sql) %></dt>
  <dd><%= @log_sql.sql %></dd>
</div>
<div>
  <dt><%= Com::Log.human_attribute_name(:duration) %></dt>
  <dd>
    <span><%= @log_sql.duration %></span>
    <span class="size-7 text-grey">ms</span>
  </dd>
</div>
