<div class="tabs is-centered">
  <ul>
    <li class="<%= active_helper(controller: 'businesses', active: 'is-active') %>">
      <%= link_to t('meta.panel.businesses.index.title'), { controller: 'businesses' } %>
    </li>
    <li class="<%= active_helper(controller: 'namespaces', active: 'is-active') %>">
      <%= link_to t('meta.panel.namespaces.index.title'), { controller: 'namespaces' } %>
    </li>
    <li class="<%= active_helper(controller: 'controllers', active: 'is-active') %>">
      <%= link_to t('meta.panel.controllers.index.title'), { controller: 'controllers' } %>
    </li>
    <li class="<%= active_helper(controller: 'records', active: 'is-active') %>">
      <%= link_to t('meta.panel.records.index.title'), { controller: 'records' } %>
    </li>
  </ul>
</div>
