<div class="menu as-wrap flex-grow-1 flex flex-direction-column">
  <div class="menu-brand">
    <%= link_to({ controller: '/admin/home' }, class: 'text-centered') do %>
      <%= image_tag 'logo_avatar.png', class: 'image is-64x64' %>
    <% end %>
  </div>
  <ul data-controller="menu-popup" class="menu-list">
    <li class="menu-item p-0">
      <%= render 'org_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'factory_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'trade_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'ship_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'crm_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'bench_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'cms_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'bluetooth_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'markdown_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'print_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'finance_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'notice_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'wechat_nav_popup' %>
    </li>
  </ul>
</div>