<div class="menu as-wrap flex-grow-1 flex flex-direction-column">
  <div class="menu-brand">
  <% if defined?(current_organ) && current_organ %>
    <%= link_to('/', data: { turbo_frame: 'panel' }, class: 'text-centered p-3') do %>
      <% if current_organ.logo.attached? %>
        <%= image_tag current_organ.logo, class: 'image is-64x64' %>
      <% else %>
        <div class="is-avatar display-inline-block"><%= current_organ.name.to_s[0] %></div>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to('/', data: { turbo_frame: 'panel' }, class: 'text-centered') do %>
      <%= image_tag 'logo_avatar.png', class: 'image is-64x64' %>
    <% end %>
  <% end %>
  </div>
  <ul class="menu-list">
    <% if defined?(RailsOrg) && role_permit?(business: 'org', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'org/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/org_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsFactory) && role_permit?(business: 'factory', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'factory/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/factory_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsTrade) && role_permit?(business: 'trade', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'trade/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/trade_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsShip) && role_permit?(business: 'ship', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'ship/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/ship_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsSpace) && role_permit?(business: 'space', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'space/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/space_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsCrm) && role_permit?(business: 'crm', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'crm/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/crm_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsBench) && role_permit?(business: 'bench', namespace: 'admin') %>
    <li class="<%= active_helper(modules: 'bench/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
      <%= render 'admin/bench_nav_popup' %>
    </li>
    <% end %>
    <% if defined?(RailsFactory) && role_permit?(business: 'factory', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'cms/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/cms_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsCms) && role_permit?(business: 'cms', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'cms/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/cms_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsMarkdown) && role_permit?(business: 'markdown', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'markdown/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/markdown_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsPrint) && role_permit?(business: 'print', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'print/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/print_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsFinance) && role_permit?(business: 'finance', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'finance/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/finance_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsNotice) && role_permit?(business: 'notice', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'notice/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/notice_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsSync) && role_permit?(business: 'sync', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'sync/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/sync_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsWechat) && role_permit?(business: 'wechat', namespace: 'admin') %>
      <li class="<%= active_helper(modules: 'wechat/admin', item: 'menu-item p-0', active: 'menu-item p-0 is-active') %>">
        <%= render 'admin/wechat_nav_popup' %>
      </li>
    <% end %>
  </ul>
</div>