<th><%= Log::Request.human_attribute_name(:path) %></th>
<th>
  <p><%= Log::Request.human_attribute_name(:controller_name) %></p>
  <p><%= Log::Request.human_attribute_name(:action_name) %></p>
</th>
<th>
  <p><%= Log::Request.human_attribute_name(:duration) %></p>
  <p><%= Log::Request.human_attribute_name(:view_duration) %></p>
</th>
<th>
  <p><%= Log::Request.human_attribute_name(:status) %></p>
  <p><%= Log::Request.human_attribute_name(:format) %></p>
</th>
<th>
  <p><%= Log::Request.human_attribute_name(:query_count) %></p>
  <p><%= Log::Request.human_attribute_name(:query_cached_count) %></p>
</th>
<th>
  <p class="text-grey"><%= Log::Request.human_attribute_name(:created_at) %></p>
  <p class="text-primary"><%= Log::Request.human_attribute_name(:ip) %></p>
</th>
