<%= link_to({ controller: 'factory/admin/products' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'list-tree', class: 'icon is-medium text-primary' %>
  <div class="size-7 text-grey mt-1"><%= t('factory.admin.products.index.title') %></div>
<% end %>
<%= link_to({ controller: 'factory/agent/productions' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'person-chalkboard', class: 'icon is-medium text-primary' %>
  <div class="size-7 text-grey mt-1"><%= t('factory.agent.productions.index.title') %></div>
<% end %>
<%= link_to({ controller: 'trade/admin/payments', action: 'uncheck' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'cash-register', class: 'icon is-medium text-primary' %>
  <div class="size-7 text-grey mt-1"><%= t('trade.admin.payments.uncheck.title') %></div>
<% end %>
<%= link_to({ controller: 'trade/admin/orders' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'list', class: 'icon is-medium text-primary' %>
  <div class="size-7 text-grey mt-1"><%= t('trade.admin.orders.index.title') %></div>
<% end %>
<%= link_to({ controller: 'trade/in/orders' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'list-check', class: 'icon is-medium text-primary' %>
  <div class="size-7 text-grey mt-1"><%= t('trade.in.orders.index.title') %></div>
<% end %>
<%= link_to({ controller: 'space/admin/desks', action: 'all' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'chair', class: 'icon is-medium text-primary' %>
  <div class="size-7 text-grey mt-1"><%= t('space.admin.desks.all.title') %></div>
<% end %>
