<div class="fixed-grid has-4-cols">
  <p class="mb-2">
    <strong class="size-7 text-grey">快捷菜单</strong>
    <%= link_to({ controller: '/admin/home' }, class: 'ml-4') do %>
      <%= svg_tag 'gear' %>
      <span class="ml-1 size-7"><%= t('admin.home.index.title') %></span>
    <% end %>
  </p>
  <div class="grid">
    <% @roled_tabs.each do |tab| %>
      <%= link_to(tab.path, class: 'cell button is-large is-fullwidth') do %>
        <i class="fa-solid fa-<%= tab.icon %> size-5"></i>
        <span class="ml-1 size-6"><%= tab.name %></span>
      <% end %>
    <% end %>
    <% current_member.shortcuts.each do |shortcut| %>
      <%= link_to({ controller: shortcut.controller, action: shortcut.action }, class: 'cell button is-large is-fullwidth') do %>
        <span class="size-6"><%= t("#{shortcut.controller.tr('/', '.')}.#{shortcut.action}.title") %></span>
      <% end %>
    <% end if current_member %>
  </div>
  <div class="grid">

  </div>
</div>
