<%= button_to({ action: 'sync' }, method: :post, data: { disable_with: 'Syncing' }, class: 'button is-rounded is-success') do %>
  <%= svg_tag 'rotate' %>
  <span><%= t('.sync') %></span>
<% end %>
<%= button_to({ action: 'new' }, class: 'button is-rounded is-primary') do %>
  <%= svg_tag 'plus' %>
  <span><%= t('.new.title') %></span>
<% end %>