<td>
<% model.identifiers.each do |i| %>
  <p><%= i %></p>
<% end %>
</td>
<td>
  <% if model.private_pem_blob %>
    <p><%= link_to model.private_pem_blob.filename, model.private_pem_blob.url %></p>
  <% end %>
  <% if model.cert_key_blob %>
    <p><%= link_to model.cert_key_blob.filename, model.cert_key_blob.url %></p>
  <% end %>
</td>
<td>
  <p><%= model.status %></p>
  <p><time data-controller="time"><%= model.issued_at&.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p><%= model.sync_host %></p>
  <p><%= model.sync_path %></p>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info text-info"></i>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-pencil text-link"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'acme_identifiers', acme_order_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info text-info"></i>
      <span class="ml-1"><%= t('.acme_identifiers.index.title') %></span>
    <% end %>
    <%= button_to({ action: 'order', id: model.id }, method: :patch, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-shopping-cart text-success"></i>
      <span class="ml-1"><%= t('.order.title') %></span>
    <% end %>
    <%= button_to({ action: 'cert', id: model.id }, method: :patch, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-certificate"></i>
      <span class="ml-1"><%= t('.cert.title') %></span>
    <% end %>
  </div>
</td>