<th><%= ActiveStorage::Attachment.human_attribute_name(:id) %></th>
<th><%= ActiveStorage::Attachment.human_attribute_name(:name) %></th>
<th><%= ActiveStorage::Attachment.human_attribute_name(:record_type) %></th>
<th>
  <p><%= ActiveStorage::Attachment.human_attribute_name(:record_id) %></p>
  <p><%= ActiveStorage::Attachment.human_attribute_name(:blob_id) %></p>
</th>
<th><%= ActiveStorage::Attachment.human_attribute_name(:created_at) %></th>
