<%= render layout: 'layouts/phone_head' do %>
  <% if defined?(current_organ) && current_member %>
    <%= render 'profile_item' %>
  <% else %>
    <%= render 'profile_blank' %>
  <% end %>
  <main id="weui-tab__panel">
    <%= render 'alert' %>
    <%= yield %>
  </main>
  <%= render 'tab_bar' %>
<% end %>
