<h1 class="title is-3 text-centered"><%= @subject.meta_action.name %></h1>
<h2 class="title is-4">URL</h2>
<div class="box">
  <p class="has-inline-centered">
    <span class="tag is-primary"><%= @subject.meta_action.verb %></span>
    <span aria-label="<%= @subject.base_url(request) %>" class="tag"><%= svg_tag 'plug' %></span>
    <span class="tag is-medium"><%= @subject.meta_action.path_without_format %></span>
  </p>
  <div class="mt-3">
    <p class="size-7">Path 参数</p>
    <table class="table is-striped is-bordered is-fullwidth is-radius">
    <% @subject.meta_action.required_parts.each do |part| %>
      <tr>
        <td><%= part %></td>
        <td></td>
        <td>必需</td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<h2 class="title is-4">请求 Body</h2>
<p class="box as-boxed">
  <table class="table is-striped is-fullwidth">
    <tr>
      <th>字段</th>
      <th>说明</th>
      <th>示例数据</th>
    </tr>
    <% @subject.request_params.each do |key, example| %>
      <tr>
        <td><%= key %></td>
        <td><%= @subject.request_comments[key] %></td>
        <td><%= example %></td>
      </tr>
    <% end %>
  </table>
</p>

<h2 class="title is-4">响应</h2>
<p class="box"><%= @subject.response_body %></p>
