<%= button_to({ action: 'new', **request.GET.slice(:shard) }, class: 'button is-rounded is-primary') do %>
  <%= svg_tag 'plus' %>
  <span><%= t('.new.title') %></span>
<% end %>
<%= button_to({ action: 'create_all' }, params: { pubname: 'alltables', **request.GET.slice(:shard) }, class: 'button is-rounded is-danger') do %>
  <%= svg_tag 'plus' %>
  <span><%= t('.create_all.title') %></span>
<% end %>
