<td>
  <%= link_to({ controller: 'jobs', queue_id: model.name }) do %>
    <span><%= model.name %></span>
  <% end %>
</td>
<td>
  <% if model.paused? %>
    <span class="tag is-warning">Paused</span>
  <% end %>
</td>
<td><%= model.size %></td>
<td>
  <% if model.paused? %>
    <%= button_to "Resume", { controller: 'queues', action: 'resume', id: model.name }, class: 'button is-warning' %>
  <% else %>
    <%= button_to "Pause", { controller: 'queues', action: 'pause', id: model.name }, class: 'button is-success' %>
  <% end %>
</td>