<div data-controller="picture" class="picture">
  <div data-picture-target="upload" class="file is-boxed is-fullwidth">
    <label class="file-label">
      <%=
        f.file_field(
          target.name,
          direct_upload: true,
          wrap: { input: false },
          all: { normal: false },
          label: nil,
          data: { action: 'picture#upload' },
          class: 'file-input',
          **local_assigns.slice(:form)
        )
      %>
      <span class="file-cta">
        <span class="file-icon">
          <%= svg_tag 'upload' %>
        </span>
        <span>选择文件</span>
      </span>
    </label>
  </div>
  <div data-picture-target="preview" class="picture-preview display-none">
    <button type="button" data-action="picture#removePreview" class="button is-unset is-borderless as-corner mr-2">
      <%= svg_tag 'xmark', class: 'icon text-danger' %>
    </button>
    <div class="image is-64x64 overflow-y-hidden">
      <%= image_tag 'avatar.png', data: { picture_target: 'src' } %>
    </div>
  </div>
  <% if target.attached? %>
    <div data-picture-target="preview" class="picture-preview">
      <button type="button" data-action="picture#removePreview" class="button is-unset is-borderless as-corner mr-2">
        <%= svg_tag 'xmark', class: 'icon text-danger' %>
      </button>
      <div class="image is-64x64 overflow-y-hidden">
        <%= image_tag target, data: { picture_target: 'src' } %>
      </div>
    </div>
  <% end %>
</div>