<div id="filter_container_<%= key %>" data-controller="popup" class="max-fullwidth size-0">
  <div id="filter_search_field_<%= key %>" class="field has-addons mb-0">
    <div class="control has-icons-left">
      <%= search_field_tag key, params[key], class: 'input', placeholder: '搜索', autocomplete: 'off', data: { search_input_target: 'input', action: 'change->search-input#cancel' }, form: 'filter_search_form' %>
      <%= svg_tag 'magnifying-glass', class: 'icon is-small is-left p-2' %>
    </div>
    <div class="control">
      <%= submit_tag 'Search', name: nil, data: { action: 'form#filter' }, form: 'filter_search_form', class: 'button is-info' %>
    </div>
  </div>
</div>