<div class="tags are-large">
  <% @filter_columns.each do |column| %>
    <% if column[:value] %>
      <%= render partial: "filter_form/filter_value_#{column[:type]}", locals: { record_class: record_class, key: column[:column_name], value: column[:value], scope: nil, form: 'filter_search_form' } %>
    <% elsif column[:default] %>
      <%= render partial: "filter_form/filter_default_#{column[:type]}", locals: { record_class: record_class, key: column[:column_name], value: column[:value], scope: nil, form: 'filter_search_form' } %>
    <% end %>
  <% end %>
  <div id="filter_container" data-controller="popup">
    <button class="button">
      <span class="icon">
        <%= svg_tag 'plus' %>
      </span>
    </button>
    <div id="popup_overlay" data-action="click->popup#close" class="overlay"></div>
    <div id="filter_popup_box" data-popup-target="popup" class="panel is-light as-popdown background-white overflow-y-hidden">
      <% @filter_columns.each do |column| %>
        <%= button_to({ controller: 'com/admin/filters', action: 'column' }, params: column.except(:title), form: { class: 'panel-block' }) do %>
          <span><%= column[:title] %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
