<%= link_to({ controller: 'org/partner/organs' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'buildings', class: 'icon is-medium text-primary' %>
  <span class="size-7 text-grey mt-1"><%= t('org.partner.organs.index.title') %></span>
<% end %>
<%= link_to({ controller: 'trade/partner/orders' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'store', class: 'icon is-medium text-primary' %>
  <span class="size-7 text-grey mt-1"><%= t('trade.partner.orders.index.title') %></span>
<% end %>
