<%= render 'profile_item' %>

<div class="box is-padding-less">
  <div class="box-header">
    <span class="has-border-left-primary size-7">我的门店</span>
    <%= link_to({ controller: 'org/board/organs' }) do %>
      <%= svg_tag 'chevron-right' %>
    <% end %>
  </div>
  <div class="fixed-grid has-2-cols p-3">
    <div class="grid">
      <div class="has-column-centered">
        <p class="size-4"><%= current_user.created_organs_count.to_i %></p>
        <p class="size-7 text-grey">我创建的</p>
      </div>
      <div class="has-column-centered">
        <p class="size-4">2</p>
        <p class="size-7 text-grey">我加入的</p>
      </div>
    </div>
  </div>
</div>


<%= render 'organ_index' %>

<div class="flex-grow-1 has-column-centered">
  <p class="size-7 text-grey">PC 端登录</p>
  <div data-controller="clipboard" data-action="click->clipboard#copyInner" class="mt-1">
    <strong data-clipboard-target="source">https://admin.<%= Rails.application.routes.default_url_options[:host] %></strong>
    <%= svg_tag 'clone', class: 'icon is-small text-grey ml-1' %>
  </div>
</div>