<div class="navbar-item has-dropdown is-hoverable display-none-touch">
  <div class="navbar-link is-arrowless">
    <% if current_user&.avatar.present? %>
      <%= image_tag current_user.avatar %>
    <% else %>
      <%= svg_tag 'user', class: 'icon text-success' %>
    <% end %>
    <span><%= current_user&.name %></span>
  </div>
  <div class="navbar-dropdown is-right">
    <%= link_to({ controller: '/my/home' }, class: active_helper(controllers: ['my/home'], active: 'navbar-item is-active', item: 'navbar-item')) do %>
      <span><%= t('my.home.index.title') %></span>
    <% end %>
    <%= button_to({ controller: '/auth/sessions', action: 'destroy' }, method: :delete, data: { turbo_confirm: '确认退出' }, form: { class: 'navbar-item' }) do %>
      <span><%= t('auth.sessions.destroy.title') %></span>
    <% end %>
  </div>
</div>
