<nav class="level mb-2 is-narrow">
  <div class="level-left">
    <h2 class="title is-3"><%= t('.title') %></h2>
    <% if instance_variable_defined? "@#{pluralize_model_name}" %>
      <p class="text-grey">
        <span><%= instance_variable_get("@#{pluralize_model_name}").total_count %></span>
        <span>Items</span>
      </p>
    <% end %>
  </div>
  <div class="level-right">
    <%= render partial: 'filter_per', locals: { models: instance_variable_get("@#{pluralize_model_name}") } if instance_variable_defined? "@#{pluralize_model_name}" %>
  </div>
</nav>

<div class="field is-grouped">
  <%= form_with theme: nil, method: :get, id: 'filter_search_form', data: { controller: 'search-input' } do %><% end %>
  <%= render partial: 'filter_form/filter_extend', locals: { record_class: model_klass, keys: @filter_columns.pluck(:column_name) } %>
</div>
