<% if params[:action] != 'index' %>
<div class="box as-bar">
  <%= link_to({ action: 'index' }, class: 'px-4') do %>
    <%= svg_tag 'angle-left' %>
  <% end %>
  <div class="weui-title"><%= t('.title', default: '') %></div>
  <% if params[:action] == 'show' %>
    <%= button_to({ action: 'actions' }, class: 'px-4') do %>
      <%= svg_tag 'ellipsis-vertical' %>
    <% end %>
  <% else %>
    <i class="px-5"></i>
  <% end %>
</div>
<% end %>