<div class="menu as-wrap flex-grow-1 flex flex-direction-column">
  <div class="menu-brand">
    <%= link_to('/panel', data: { turbo_frame: 'panel' }, class: 'text-centered') do %>
      <%= image_tag 'logo_avatar.png' %>
    <% end %>
  </div>
  <ul class="menu-list">
    <% if defined?(RailsCom) && any_role?(business: 'com', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'com_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsEmail) && any_role?(business: 'email', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'email_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsAuth) && any_role?(business: 'auth', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'auth_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsOrg) && any_role?(business: 'org', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'org_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsFactory) && any_role?(business: 'factory', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'factory_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsTrade) && any_role?(business: 'trade', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'trade_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsShip) && any_role?(business: 'ship', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'ship_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsBench) && any_role?(business: 'bench', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'bench_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsCrm) && any_role?(business: 'crm', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'crm_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsData) && any_role?(business: 'datum', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'data_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsPrint) && any_role?(business: 'print', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'print_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsMarkdown) && any_role?(business: 'markdown', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'markdown_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsAudit) && any_role?(business: 'audit', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'audit_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsOneAi) && any_role?(business: 'one_ai', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'one_ai_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsDouyin) && any_role?(business: 'douyin', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'douyin_nav_popup' %>
      </li>
    <% end %>
    <% if defined?(RailsWechat) && any_role?(business: 'wechat', namespace: 'panel') %>
      <li class="menu-item p-0">
        <%= render 'wechat_nav_popup' %>
      </li>
    <% end %>
  </ul>
</div>
