<div class="menu flex-grow-1 flex flex-direction-column">
  <ul data-controller="menu" class="menu-list">
    <li class="menu-item p-0">
      <%= render 'com_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'auth_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'org_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'bench_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'crm_nav_popup' %>
    </li>
    <li class="menu-item p-0">
      <%= render 'wechat_nav_popup' %>
    </li>
  </ul>
</div>
