<%= link_to({ controller: 'auth/board/home' }, text: true, class: 'media py-3 px-5 as-my') do %>
  <div class="media-left">
    <figure class="image is-64-w">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: 'is-rounded' %>
      <% elsif current_user.name.present? %>
        <div class="is-avatar">
          <div class="text"><%= current_user.name.to_s[0] %></div>
        </div>
      <% else %>
        <%= image_tag 'default_avatar.jpg', class: 'is-rounded' %>
      <% end %>
    </figure>
  </div>
  <div class="media-content text-grey-dark">
    <% if current_user.name.present? || current_account&.identity.present? %>
      <strong><%= current_user.name %></strong>
      <p class="size-7"><%= current_account&.identity %></p>
    <% end %>
  </div>
  <div class="media-right">
    <%= svg_tag 'qrcode' %>
    <%= svg_tag 'chevron-right', class: 'icon is-small' %>
  </div>
<% end %>
