<th><%= Pg::ReplicationSlot.human_attribute_name(:slot_name) %></th>
<th>
  <p><%= Pg::ReplicationSlot.human_attribute_name(:datoid) %></p>
  <p><%= Pg::ReplicationSlot.human_attribute_name(:database) %></p>
</th>
<th>
  <p><%= Pg::ReplicationSlot.human_attribute_name(:active) %></p>
  <p><%= Pg::ReplicationSlot.human_attribute_name(:active_pid) %></p>
</th>
<th><%= Pg::ReplicationSlot.human_attribute_name(:wal_status) %></th>
<th><%= Pg::ReplicationSlot.human_attribute_name(:conflicting) %></th>
